/**********************************************
 * CSS for the various devices
 **********************************************/
#BCDevContainer {
  position: aboslute;
  overflow: hidden;
}

#BCDevContainer .iphone_3g {
  height: 480px;
  width: 380px;
}

#BCToolKitContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  height: 200px;
  overflow: auto;
  font-family: Arial;
  color: #373737;
  size: 14px;
  display: none;
  left: 0px;
}

#BCToolKitContainer .none {
  display: none;
}

#BCToolKitContainer .block {
  display: block;
}

#BCToolKitContainer .header {
  background-color: #373737;
  height: 20px;
  width: 100%;
}

#BCToolKitContainer .header .button_icon {
  margin-right: 10px;
  float: right;
  height: 18px;
  width: 18px;
  /*background-color: #ccc;
  border: solid 1px #528F96;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;*/
  cursor: pointer; 
  color: #528F96;
  text-align: center;
  position: relative;
  line-height: 20px;
}

#BCToolKitContainer .header .minimize .down_arrow {
  border-color: #528F96 transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0px;
  position: absolute;
  top: 6px;
  left: 2px; 
}

#BCToolKitContainer .header .restore .up_arrow {
   border-color: transparent transparent #528F96;
  border-style: solid;
  border-width: 0px 7px 7px; 
  position: absolute;
  top: 6px;
  left: 2px; 
}

#BCToolKitContainer .header .close {
  margin-right: 20px;
  font-weight: bold;
}

/* reset anything */
#BCToolKitContainer h1, h2, h3, h4, h5, p, div, span {
  margin: 0px;
  padding: 0px;
}

#BCToolKitContainer .container {
  float: left;
  width: 50%;
  height: 100%;
}


#BCToolKitContainer .rightContainer {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#585858), to(#262626)) no-repeat;
  position: relative;
}

#BCToolKitContainer .rightContainer h2 {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #2E2E2E;
  text-shadow: #606060 0px 1px 1px;
  height: 24px;
  margin-top: -12px;
  width: 100%;
  text-align: center;
}

#BCToolKitContainer .rightContainer .row {
  margin-left: 20px;
  padding-top: 20px;
  color: #fff;
  height: 20px;
}

#BCToolKitContainer .rightContainer .left {
  float: left;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

#BCToolKitContainer .rightContainer .right {
  float: left;
  margin-top: -2px;
}


#BCToolKitContainer .button {
  height: 43px;
  margin: 20px 0px 0px 20px;
}

#BCToolKitContainer .button h3 {
  font-size: 20px;
  webkit-box-shadow: #E9E9E9 1px 1px, #E9E9E9 -1px -1px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EDEDED));
  border: 1px solid #C3C3C3;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  color: #528F96;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  display: inline;
  margin: 0px;
}

#BCToolKitContainer .tab {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 15px;
  background-color: #ccc;
  border-left: solid 1px #528F96;
  border-right: solid 1px #528F96;
  border-bottom: solid 1px #528F96;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  cursor: pointer;
}

#BCToolKitContainer .tab .line {
  margin-top: 3px;
  background-color: #528F96;
  margin-left: 5px;
  width: 30px;
  height: 1px;
}
